header {
  margin-bottom: 10px;

  img {
    width: 154px;
  }

  div.inline-brand {
    display: inline-flex;
  }

  div.inline-brand span {
    margin: 4px 0 0 7px;
  }

  a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }
}
